
.encabezado{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        width: 400px;
        height: 400px;
    }
    h1{
        font-size: 80px;
    }
    
    
}

 /* -----  MENU  ---- */ 

nav.navbar{
        background-color:rgba(151, 216, 172, .5) !important;
        ul{
            display: flex;
            flex-wrap: wrap;
            list-style: none; /* Saca las viñetas de la lista */
            justify-content: center;
            a{
                text-decoration: none; /* saca el subrayado de los enlaces */
                font-size: 30px;
                padding: 10px 50px; 
                color: #000;
                &:hover{
                        font-weight: bolder;
                    }

     }

            }
        }

