
  /* ----- FAQ ----- */

  main .faq{
    h3{
        font-size: 40px;
        margin: 20px 0;

    }
    p{
        line-height: 1.5;
        text-align: justify;

    }
    
}

.container{
    .row .col-xl-6{
        a{
            font-family:'MP PLUS 1p', sans-serif ;;
            color: black;
            &:hover{
            color: $colorPrimario;
        }

        }
    }
}
