@mixin tablet {
     @media (min-width: 767px){
        @content;
     }
    
}

@mixin desktop {
    @media (min-width: 992px){
        @content;
    }
}

@mixin xlarge {
    @media (min-width: 1200px){
        @content;
    }
    
}
 
 /* ----- SOBRE MI ----- */

 main .sobre-mi{
    display: flex;
    overflow: hidden; /*para que el contenido no "desborde" de la caja */
    flex-wrap: wrap;
    @include desktop{
        flex-wrap: nowrap;
    }
    @include xlarge{
        flex-wrap: nowrap;
    }
    img{        
        margin: auto;
        border-radius: 50% ; /* redondear la imagen */
        width: 150px;
        height: 150px;
        @include tablet{
            width: 200px;
            height: 200px;
        }
        @include desktop{
            width: 400px;
            height: 500px;
            margin-right: 40px;
        }
        @include xlarge{
            
            width: 500px;
            height: 600px;
            margin-right: 40px;

        }
    }
    p{
        font-family: $fontSecundaria;
        font-size: 12px;
        line-height: 1.5;
        width: 100%;
        margin: auto;
        text-align: justify;
        margin-top: 30px;
        @include tablet{
            font-size: 14px;
        }
        @include desktop{
            font-size: 16px;
            line-height: 2.5;
        }
        @include xlarge{
            font-size: 16px;
            line-height: 2.5;
        }
    

    }}
    


